<!--

<div class="all-verses" *ngIf="(versiculoSelecionado == 'Versículos') && (!fullScreen)">
    <span [ngStyle]="{'font-size': styleSizeFont}" nz-typography>{{livro.name}} Cap:{{indexCapituloLivroSelesionado +
        1}}</span>
    <nz-comment>
        <nz-comment-content>
            <span [ngStyle]="{'font-size': styleSizeFont}" *ngIf="!livro.comment">Comentar: </span>
            <span [ngStyle]="{'font-size': styleSizeFont}" *ngIf="livro.comment">Comentário: </span>
            <span nz-typography nzEditable nzEditIcon="comment"
                nzEditTooltip="Seu comentário sobre o livro {{livro.name}}" [(nzContent)]="livro.comment"
                (nzContentChange)="salvarLivro()">
            </span>
        </nz-comment-content>
    </nz-comment>
    <ul nz-list *ngIf="innerWidth >= 780" nzBordered nzSize="large">
        <li nz-list-item *ngFor="let verse of livro.chapters[indexCapituloLivroSelesionado]; let i = index;">
            <nz-list-item-meta [nzDescription]="titleTpl"></nz-list-item-meta>
            <ng-template #titleTpl>
                <div [ngStyle]="{'font-size': styleSizeFont}">
                    <nz-badge nzDot [nzShowDot]="verse.reminder">
                        <span [ngStyle]="{'font-size': styleSizeFont}">{{i + 1 }}</span>
                    </nz-badge>
                    -
                    <span nz-typography>
                        <mark *ngIf="verse.highlight">
                            <span class="verse">{{verse.verse}}</span>
                        </mark>
                        <span *ngIf="!verse.highlight" class="verse">{{verse.verse}}</span>
                    </span>
                </div>

                <div *ngIf="verse.hasComment" class="div-card">
                    <nz-comment>
                        <nz-comment-content>
                            <span *ngIf="!verse.comment">Comentar</span>
                            <span nz-typography nzEditable [(nzContent)]="verse.comment"
                                (nzContentChange)="salvarLivro()">
                            </span>
                        </nz-comment-content>
                    </nz-comment>
                </div>
            </ng-template>
            <ul nz-list-item-actions>
                <nz-list-item-action>
                    <a (click)="verse.reminder = !verse.reminder; salvarLivro()"
                        [ngClass]="(verse.reminder)?'icon-action':''">
                        <i nz-icon nzType="tag" nzTheme="outline"></i>
                    </a>
                </nz-list-item-action>
                <nz-list-item-action>
                    <a (click)="verse.highlight = !verse.highlight; salvarLivro()"
                        [ngClass]="(verse.highlight)?'icon-action':''">
                        <i nz-icon nzType="highlight" nzTheme="outline"></i>
                    </a>
                </nz-list-item-action>
                <nz-list-item-action>
                    <a (click)="verse.hasComment = !verse.hasComment; salvarLivro()"
                        [ngClass]="(verse.comment)?'icon-action':''">
                        <i nz-icon nzType="comment" nzTheme="outline"></i>
                    </a>
                </nz-list-item-action>
            </ul>
        </li>
    </ul>

    <nz-list *ngIf="innerWidth <= 779" nzItemLayout="vertical">
        <li nz-list-item *ngFor="let verse of livro.chapters[indexCapituloLivroSelesionado]; let i = index;">
            <nz-card [ngStyle]="{'font-size': styleSizeFont, 'width': '100%' }"
                [nzActions]="[lembreteMob, marcarTextoMob, comentarioMob]">
                <div [ngStyle]="{'font-size': styleSizeFont}">
                    <nz-badge nzDot [nzShowDot]="verse.reminder">
                        <span [ngStyle]="{'font-size': styleSizeFont}">{{i + 1 }}</span>
                    </nz-badge>
                    -
                    <span nz-typography>
                        <mark *ngIf="verse.highlight">
                            <span class="verse">{{verse.verse}}</span>
                        </mark>
                        <span *ngIf="!verse.highlight" class="verse">{{verse.verse}}</span>
                    </span>
                </div>
                <div *ngIf="verse.hasComment" class="div-card">
                    <nz-comment>
                        <nz-comment-content>
                            <span *ngIf="!verse.comment">Comentar</span>
                            <span nz-typography nzEditable [(nzContent)]="verse.comment"
                                (nzContentChange)="salvarLivro()">
                            </span>
                        </nz-comment-content>
                    </nz-comment>
                </div>
                <ng-template #lembreteMob>
                    <a (click)="verse.reminder = !verse.reminder; salvarLivro()"
                        [ngStyle]="{'color': ((verse.reminder) ? '#ad4e00' : 'black')}">
                        <nz-badge nzDot [nzShowDot]="verse.reminder">
                            <i nz-icon nzType="tag" nzTheme="outline"></i>
                        </nz-badge>
                    </a>
                </ng-template>
                <ng-template #marcarTextoMob>
                    <a (click)="verse.highlight = !verse.highlight; salvarLivro()"
                        [ngStyle]="{'color': ((verse.highlight) ? '#ad4e00' : 'black')}">
                        <nz-badge nzDot [nzShowDot]="verse.highlight">
                            <i nz-icon nzType="highlight" nzTheme="outline"></i>
                        </nz-badge>
                    </a>
                </ng-template>
                <ng-template #comentarioMob>
                    <a (click)="verse.hasComment = !verse.hasComment; salvarLivro()">
                        <nz-badge nzDot [nzShowDot]="(verse.comment) ? true : false">
                            <i nz-icon nzType="comment" nzTheme="outline"></i>
                        </nz-badge>
                    </a>
                </ng-template>
            </nz-card>
        </li>
    </nz-list>
</div>

<div class="all-verses" *ngIf="versiculoSelecionado != 'Versículos'">
    <nz-card [ngClass]="fullScreen ? 'overlay': ''" [ngStyle]="{'font-size': styleSizeFont}"
        [nzActions]="[setaEsquerda, lembrete, marcarTexto, comentario, fullScreenTpl, setaDireita]">

        <div [ngClass]="fullScreen ? 'div-versos-full-screen': 'div-versos' ">
            <span [ngStyle]="{'font-size': styleSizeFont}" nz-typography>
                {{livro.name}}, Cap: {{indexCapituloLivroSelesionado + 1}}-
                Versículos:
                <nz-badge nzDot
                    [nzShowDot]="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado]?.reminder">
                    <span [ngStyle]="{'font-size': styleSizeFont}">{{versiculoSelecionado }}</span>
                </nz-badge>
            </span><br /><br />
            <div nz-row nzJustify="center">
                <div nz-col nzSpan="20" class="text-center">
                    <span nz-typography>
                        <mark
                            *ngIf="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].highlight">
                            <span class="verse">{{ livro.chapters[indexCapituloLivroSelesionado
                                ][indexVersiculoSelesionado].verse }}</span>
                        </mark>
                        <span
                            *ngIf="!livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].highlight"
                            class="verse">
                            {{ livro.chapters[indexCapituloLivroSelesionado][indexVersiculoSelesionado].verse }}
                        </span>
                    </span>
                    <div *ngIf="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].hasComment"
                        class="div-card-comment">
                        <nz-comment>
                            <nz-comment-content>
                                <span
                                    *ngIf="!livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].comment">Comentar</span>
                                <span nz-typography nzEditable
                                    [(nzContent)]="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].comment"
                                    (nzContentChange)="salvarLivro()">
                                </span>
                            </nz-comment-content>
                        </nz-comment>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #setaEsquerda>
            <a (click)="keyPress({key: 'ArrowLeft'})">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
            </a>
        </ng-template>
        <ng-template #lembrete>
            <a
                (click)="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].reminder = !livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].reminder; salvarLivro()">
                <nz-badge nzDot
                    [nzShowDot]="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].reminder">
                    <i nz-icon nzType="tag" nzTheme="outline"></i>
                </nz-badge>
            </a>
        </ng-template>
        <ng-template #marcarTexto>
            <a
                (click)="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].highlight = !livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].highlight; salvarLivro()">
                <nz-badge nzDot
                    [nzShowDot]="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].highlight">
                    <i nz-icon nzType="highlight" nzTheme="outline"></i>
                </nz-badge>
            </a>
        </ng-template>
        <ng-template #comentario>
            <a
                (click)="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].hasComment = !livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].hasComment; salvarLivro()">
                <nz-badge nzDot
                    [nzShowDot]="livro.chapters[indexCapituloLivroSelesionado ][indexVersiculoSelesionado].comment">
                    <i nz-icon nzType="comment" nzTheme="outline"></i>
                </nz-badge>
            </a>
        </ng-template>
        <ng-template #fullScreenTpl>
            <span nz-typography nzType="secondary" class="icon-full-screen">
                <i nz-icon nzType="fullscreen" nzTheme="outline" *ngIf="!fullScreen" (click)="changeFullScreen()"></i>
                <i nz-icon nzType="fullscreen-exit" nzTheme="outline" *ngIf="fullScreen"
                    (click)="changeFullScreen()"></i>
            </span>
        </ng-template>
        <ng-template #setaDireita>
            <a (click)="keyPress({key: 'ArrowRight'})">
                <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
            </a>
        </ng-template>
    </nz-card>
</div>

<nz-back-top nzTarget="divTarget"></nz-back-top> -->

<nz-layout>
    <nz-header>
        <div class="div-header">
            <div class="div-selecao">
                <nz-select class="livro" nzShowSearch nzSize="small" [(ngModel)]="livroSelecionado"
                    (ngModelChange)="bookChange($event)">
                    <nz-option *ngFor="let l of livrosMenu" [nzLabel]="l.livro" [nzValue]="l.livro"></nz-option>
                </nz-select>
            </div>

            <div class="div-selecao">
                <nz-select class="capitulo" nzSize="small" [(ngModel)]="capituloSelecionado"
                    (ngModelChange)="trocarCapitulo($event)">
                    <ng-container *ngFor="let c of capitolos; let i = index;">
                        <nz-option nzLabel="Cap: {{converterParaString(i)}}" [nzValue]="converterParaString(i)">
                        </nz-option>
                    </ng-container>
                </nz-select>
            </div>
        <!-- mostrar so quando estiver no modo para visualizar o versiculo
            <div class="div-selecao">
                <nz-select class="versiculo" nzSize="small" [(ngModel)]="versiculoSelecionado"
                    (ngModelChange)="trocarVersiculo($event)">
                    <nz-option nzLabel="Versículos" nzValue="Versículos"></nz-option>
                    <nz-option *ngFor="let v of versiculos" nzLabel="V: {{converterParaString(v)}}"
                        [nzValue]="converterParaString(v)"></nz-option>
                </nz-select>
            </div>
        -->

            <div class="icon-menu" (click)="modalConfig = true">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
            </div>
            <nz-modal [(nzVisible)]="modalConfig" (nzOnCancel)="modalConfig = false" [nzFooter]="null">
                <ng-container *nzModalContent>
                    <div class="content-modal">
                        <span class="livro-title">Tamanho do texto: </span>
                        <nz-select class="fontSize" nzSize="small" [(ngModel)]="fontSize"
                            (ngModelChange)="trocarTamanhoFont($event)">
                            <nz-option nzLabel="Pequeno" nzValue="Pequeno"></nz-option>
                            <nz-option nzLabel="Médio" nzValue="Médio"></nz-option>
                            <nz-option nzLabel="Grande" nzValue="Grande"></nz-option>
                            <nz-option nzLabel="Extra Grande" nzValue="Extra Grande"></nz-option>
                        </nz-select>

                        <div class="div-show-comments">
                            <p class="livro-title">Exibir comentários: &nbsp;
                                <nz-switch nzSize="small" [(ngModel)]="showComments"></nz-switch>
                            </p>
                        </div>
                    </div>
                </ng-container>
            </nz-modal>
        </div>
    </nz-header>
    <nz-content class="content" #divTarget>
        <div class="div-verse"
            *ngFor="let verse of livro.chapters[indexCapituloLivroSelesionado]; let i = index;">

            <div class="icon-tag" *ngIf="verse.reminder">
                <i nz-icon nzType="tag" nzTheme="fill" [nzRotate]="45"></i>
            </div>

            <span [ngStyle]="{'font-size': styleSizeFont, 'background-color': (verse.highlight) ? '#ffec3d' : ''}">
                {{i + 1 }} - {{verse.verse}}&nbsp;
            </span>

            <div class="actions">
                <i nz-typography nzCopyable nzCopyText="{{livro.name}} Cap: {{indexCapituloLivroSelesionado + 1}}, Ver: {{i + 1 }} - {{verse.verse}}"></i>
                <i nz-icon nzType="tag" nzTheme="outline" (click)="verse.reminder = !verse.reminder; salvarLivro()"></i>
                <i nz-icon nzType="highlight" nzTheme="outline" (click)="verse.highlight = !verse.highlight; salvarLivro()"></i>
            </div>

            <div class="div-comment" *ngIf="showComments">
                <span nz-typography nzType="secondary">Comentário: &nbsp;</span>
                <span
                    nz-typography nzType="secondary"
                    nzEditable
                    [(nzContent)]="verse.comment"
                    (nzContentChange)="salvarLivro()">
                </span>
            </div>
        </div>
        <nz-back-top [nzTemplate]="tplBackTop" nzTarget="divTarget"></nz-back-top>
        <ng-template #tplBackTop>
            <div class="ant-back-top-inner"><i nz-icon nzType="vertical-align-top" nzTheme="outline"></i></div>
        </ng-template>
    </nz-content>
    <nz-footer></nz-footer>
</nz-layout>