

.number-verse {
    font-weight: 600;
    font-size: medium;
    color: #000000;
    margin-left: 0.5rem;
    font-size: 18px;
}

.verse {
    color: #434343;
}

.all-verses {
    margin-top: 1rem;
}

.div-card {
    margin: 1rem;
}

.lembrete {
    font-size: x-large;
}

.ant-badge-dot {
    width: 10px;
    height: 10px;
}

.icon-action {
    color: #ad4e00;
}

.text-center {
    text-align: center;
}

.div-versos-full-screen {
    min-height: 74Vh;
}

.div-versos {
    min-height: 50Vh;
}

.div-card-comment {
    margin-top: 2rem;
}

.icon-full-screen {
    cursor: pointer;
    font-size: large;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
}

//////////////////////////////////////

.ant-layout-header {
    height: 42px;
    padding: .5rem;
    line-height: 15px;
    position: fixed;
    top: 0;
    width: 100%;

    .div-selecao {
        display: inline-block;
        margin-right: .5rem;
    }

    .livro {
        width: 180px;
    }

    .capitulo {
        width: 100px;
    }

    .versiculo {
        width: 80px;
    }

    .icon-menu {
        width: 15px;
        color: #ffffff;
        cursor: pointer;
        float: right;
        margin-top: 4px;
        font-size: medium;
    }
}

.content-modal {
    padding: 1rem .5rem;

    .div-show-comments {
        margin-top: 1rem;
    }
}

.livro-title {
    font-weight: 500;
}

.fontSize {
    width: 100%;
}

.content {
    padding: 3rem .5rem;
    min-height: 100vh;
}

.ant-layout-footer {
    height: 42px;
    padding: .5rem;
    line-height: 15px;
    background: #001529;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

:host ::ng-deep .ant-back-top-inner {
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.45);
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.div-verse {
    padding: 6px 8px 32px 8px;

    .icon-tag {
        margin-left: -10px;
        margin-bottom: -10px;
        font-size: 20px;
    }

    .actions {
        float: right;

        i {
            color: #2c79ca;
            cursor: pointer;
            padding: 0px 12px 0px 0px;
        }

        i:hover {
            color: #494e55;
        }
    }

    .div-comment {
        padding-top: 1rem;
    }
}

.div-verse:hover {
    background-color: rgba(0, 0, 0, 0.068);
}