<nz-layout>
    <nz-affix [nzOffsetTop]="16">
        <button nz-button nzType="default" (click)="visible = !visible"><i nz-icon nzType="menu-unfold"
                nzTheme="outline"></i></button>
    </nz-affix>

    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
</nz-layout>

<nz-drawer
    [nzBodyStyle]="{ 'background': '#fff', 'padding': '0px'}"
    [nzWidth]="200"
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="left"
    [nzTitle]="titleTemplate"
    (nzOnClose)="visible = !visible">

    <ng-template #titleTemplate>
        <div class="sidebar-logo">
            <a [routerLink]="['biblia']">
                <!-- <img src="../assets/img/es.png" alt="logo"> -->
                <h1>Bíblia sagrada</h1>
            </a>
        </div>
    </ng-template>
    <ng-container *nzDrawerContent>
        <ul nz-menu nzMode="inline" nzTheme="light">
            <li nz-menu-item [routerLink]="['']" nzSelected>
                <i nz-icon nzType="book"></i>
                <span>Bíblia</span>
            </li>
        </ul>
    </ng-container>
</nz-drawer>